/* Définition des polices personnalisées */

@font-face
{
/*...*/
}

/* Main body */

body
{
color: white;
background-image: url("../assets/startseite_bg.png");
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
font-family: 'Noto Sans', sans-serif;
color: aliceblue;
font-weight: bold;
}

h1
{
background-color:withe;
font-weight: 25px;
}

#bloc_page
{
    width: 900px;
    margin: auto;
}


/* Header */

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-left: 5%;
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    /*Change background image*/
}
/* body */

section
{
    display: flex;
    margin-bottom: 20px;
}

footer
{
    margin-top: 38%;
    margin-left: 85%;
    margin-bottom: 1px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    opacity: 75%;
}

footer ul
{
    list-style-type: none;
    display: flex;
}

footer li
{
    margin-right: 10px;
}

footer a
{
    font-size: 1em;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}
